db.sqlite3
*.pyc
migrations/
.directory
bin/
local/
lib/
include/

/static/images/user/
/static/images/meal/
/static/images/cache/

node_modules/
django-endless-pagination/
static/js/endless-pagination.js
