body{
    background-color: white;
    padding:50px;
}

#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}
#login-dp .help-block{
    font-size:12px    
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0    
}
#login-dp .social-buttons a{
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc 
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}
@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}

/* Credit to bootsnipp.com for the css for the color graph */
.colorgraph {
  height: 5px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}

/* */

[class^="icon"], [class*=" icon"] {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}

.patternwall {
  position: absolute;
  bottom: 20px;
  right: 20px;
}



.iconWarning:before {
  content: "\f071";
  font-size: 14px;
  margin-right: 5px;
}

.iconFalse:before {
  content: "\f00d";
  font-size: 14px;
}

.iconExclamation:before {
  content: "\f12a";
}

.iconExclamationFull:before {
  content: "\f06a";
}

.inputWrapper {
  margin: 0 auto 30px auto;
  width: 240px;
  position: relative;
}

.input {
  width: 100%;
  padding: 2px 7px;
  color: gray;
  background-color: #fcfcfc;
  -moz-box-shadow: inset 0 3px 6px rgba(150, 150, 150, 0.2), 0 1px 0 white;
  -webkit-box-shadow: inset 0 3px 6px rgba(150, 150, 150, 0.2), 0 1px 0 white;
  box-shadow: inset 0 3px 6px rgba(150, 150, 150, 0.2), 0 1px 0 white;
}

/* example 5 */
.wrapper5 {
  margin-top: 100px;
}
.wrapper5 .input {
  width: 100%;
  border: solid 1px rgba(50, 50, 50, 0.2);
  height: 30px;
  line-height: 30px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.wrapper5 .validationBox {
  padding: 3px 10px;
  position: absolute;
  right: -60px;
  top: -40px;
  background-color: #e58181;
  color: white;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.wrapper5 .validationBox:after {
  content: '';
  position: absolute;
  border: solid transparent;
  border-top-color: #e58181;
  border-width: 10px;
  top: 28px;
  right: 30px;
}
.wrapper5 .iconExclamationFull:before {
  color: #e58181;
  font-size: 22px;
  position: absolute;
  right: -30px;
  top: 4px;
}

