#paneluser{
  background:none; 
  margin-bottom:15px;
  border-radius: 15px;
}

#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}
#login-dp .help-block{
    font-size:12px    
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:10px solid #ddd;
    clear:both;
    padding:14px;
}

#login-dp .form-group {
    margin-bottom: 10px;
}
@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}

@media (min-width: 768px){
    #newlogin>li>a {
   /*padding-top: 10px;*/
padding-bottom: 15px;
}

}

@media (max-width: 767px){
.navbar-nav .open .dropdown-menu {
  position: inherit;
  margin-top: 15px;
  
  background-color: rgba(121, 41, 41, 0); 
  border: solid 1px;
  border-color: #D8D8D8;
}

}


@media (max-width: 767px){ 
#newlogin {
  position: absolute;
  right: 25px;
  top: -1px;

}

#logsearch{
  position: absolute;
  right: 45%;
  top: 0px;

}

}


/* Credit to bootsnipp.com for the css for the color graph */
.colorgraph {
  height: 5px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}

#margincont{
  margin-top: 4%;
}


#ind{
  margin-top: 4%;
}





.timeline {
    position: relative;
    padding: 21px 0px 10px;
    margin-top: 4px;
    margin-bottom: 30px;
}

.timeline .line {
    position: absolute;
    width: 4px;
    display: block;
    background: currentColor;
    top: 0px;
    bottom: 0px;
    margin-left: 30px;
}

.timeline .separator {
    border-top: 1px solid currentColor;
    padding: 5px;
    padding-left: 40px;
    font-style: italic;
    font-size: .9em;
    margin-left: 30px;
}

.timeline .line::before { top: -4px; }
.timeline .line::after { bottom: -4px; }
.timeline .line::before,
.timeline .line::after {
    content: '';
    position: absolute;
    left: -4px;
    width: 12px;
    height: 12px;
    display: block;
    border-radius: 50%;
    background: currentColor;
}

.timeline .panel {
    position: relative;
    margin: 10px 0px 21px 70px;
    clear: both;
}

.timeline .panel::before {
    position: absolute;
    display: block;
    top: 8px;
    left: -24px;
    content: '';
    width: 0px;
    height: 0px;
    border: inherit;
    border-width: 12px;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
}

.timeline .panel .panel-heading.icon * { font-size: 20px; vertical-align: middle; line-height: 40px; }
.timeline .panel .panel-heading.icon {
    position: absolute;
    left: -59px;
    display: block;
    width: 40px;
    height: 40px;
    padding: 0px;
    border-radius: 50%;
    text-align: center;
    float: left;
}

.timeline .panel-outline {
    border-color: transparent;
    background: transparent;
    box-shadow: none;
}

.timeline .panel-outline .panel-body {
    padding: 10px 0px;
}

.timeline .panel-outline .panel-heading:not(.icon),
.timeline .panel-outline .panel-footer {
    display: none;
}


.msg {
    background: #fefefe;
    color: #666666;
    font-weight: bold;
    font-size: small;
    padding: 12px;
    padding-left: 16px;
    border-top: solid 3px #CCCCCC;
    border-radius: 5px;
    margin-bottom: 10px;
    -webkit-box-shadow: 0 10px 10px -5px rgba(0,0,0,.08);
       -moz-box-shadow: 0 10px 10px -5px rgba(0,0,0,.08);
            box-shadow: 0 10px 10px -5px rgba(0,0,0,.08);
}


.degis{

    font-family: 'Tangerine', serif;
    font-size: 48px;

}

.degis2{
    font-family: 'Tangerine', serif;
    font-size:40px;
}

.degis3{
    font-family: 'Tangerine', serif;
    font-size:40px;
    font-weight: 600;
}

/*Favorite*/

.stars {
      font-size: 33px;
      color: rgba(0, 0, 0, .5);
      position: relative;
      cursor: pointer;
}

.star:active{
  
}
.stars span {
      margin-left: -20px;
      margin-top: -6px;
      z-index: 999;
      position: absolute;
}

span:hover {
      opacity: 0.8;
}

span:active {
      transform: scale(0.93, 0.93) translateY(2px)
}

.ring,
.ring2 {
      opacity: 0;
      background: grey;
      width: 1px;
      height: 1px;
      position: absolute;
      top: 19px;
      left: 18px;
      border-radius: 50%;
      cursor: pointer;
}

.active ,
.active-2  {
      color: #F5CC27 !important;
}

.active-2 .ring {
      width: 58px !important;
      height: 58px !important;
      top: -10px !important;
      left: -10px !important;
      position: absolute;
      border-radius: 50%;
      opacity: 1 !important;
}

.active-2 .ring {
      background: #F5CC27 !important;
}

.active-2 .ring2 {
      background: #fff !important;
}

.active-3 .ring2 {
      width: 60px !important;
      height: 60px !important;
      top: -11px !important;
      left: -11px !important;
      position: absolute;
      border-radius: 50%;
      opacity: 1 !important;
}

