
#Logincont{
	margin-top: 50px;
	margin-right: 0;
	margin-left: 0;
	background: url('/static/images/ice_age.png');
	height: 100%;
}
#Logincont_add{
	margin-top: 0px;
	margin-right: 0;
	margin-left: 0;
	background: url('/static/images/restaurant.png');
	height: 100%;
}

#userpanl{

	margin-right: 0;
	margin-left: 0;
	background: url('/static/images/restaurant.png');
	height: 100%;
}

#acontent{
margin-top:40px;
margin-left: 0px;
}

#formcont{

	margin-right: 0;
	margin-left: 0;
		background: url('/static/images/restaurant.png');
}

#userpanel{
	position:fixed; 
	background: url('/static/images/restaurant.png');
	height: 100%;
}

.buttonmin{
	min-width: 88px;
	margin: 1px;
	font-size: 10px;
}

@media (max-width: 767px) {
#userpanel {
	position:static; 
	}
#imgprofil
{
	width: 20%;
	height: 25%;
}
}

#userpanel2{}

#content1{padding-top: 90px;}
#content2{
}

.table-sortable tbody tr {
		cursor: move;
}


/***
User Profile Sidebar by @keenthemes
A component of Metronic Theme - #1 Selling Bootstrap 3 Admin Theme in Themeforest: http://j.mp/metronictheme
Licensed under MIT
***/



/* Profile container */
.profile {
	margin: 20px 0;
}

/* Profile sidebar */
.profile-sidebar {
	padding: 20px 0 10px 0;
 
}

.profilebar {
	padding: 10px 0 10px 23px;
	
}

.home_userpic {
	margin: 0 auto;
	position: relative;
	overflow: hidden;
	max-width: 156px;
	max-height: 156px;
	-webkit-border-radius: 50% !important;
	-moz-border-radius: 50% !important;
	border-radius: 50% !important;
}

.profile-userpic {
	position: relative;
	overflow: hidden;
	width: 196px;
	height: 196px;
	-webkit-border-radius: 50% !important;
	-moz-border-radius: 50% !important;
	border-radius: 50% !important;
	margin: 0 auto;
}

.profile-userpic:hover img{
	opacity: 0.3;
}

.profile-userpic:hover:after{display:block;}

.profile-userpic:after{
	display:none;
	content:"";
	position:absolute;
	z-index:2;
	top:50%;
	left:50%;
	background: url('/static/images/icon-camera.png') no-repeat -11px -24px;
	width:105px;
	height:80px;
	margin:-40px 0 0 -52.5px;
} 
.profile-userpic img {
	position: relative;
	z-index: 1;
	float: none;
	margin: 0 auto;
	width: 100%;
	height: 100%;
}

.profile-userpic #change_image {
	position: absolute;
	top:0;
	left: 0;
	z-index: 3;
	float: none;
	margin: 0 auto;
	width: 100%;
	height: 100%;
	-webkit-border-radius: 50% !important;
	-moz-border-radius: 50% !important;
	border-radius: 50% !important;
}

.profile-usertitle {
	text-align: center;
	margin-top: 5px;
}

.profile-usertitle-name {
	color: #5a7391;
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 7px;
}

.profile-usertitle-job {
	text-transform: uppercase;
	color: #5b9bd1;
	font-size: 12px;
	font-weight: 600;
	margin-bottom: 15px;
}

.profile-userbuttons {
	text-align: center;
	margin-top: 10px;
}

.profile-userbuttons .btn {
	text-transform: uppercase;
	font-size: 11px;
	font-weight: 600;
	padding: 6px 15px;
	margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
	margin-right: 0px;
}
		
.profile-usermenu {
	margin-top: 30px;
}

.profile-usermenu ul li {
	border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
	border-bottom: none;
}

.profile-usermenu ul li a {
	color: #93a3b5;
	font-size: 14px;
	font-weight: 400;
}

.profile-usermenu ul li a i {
	margin-right: 8px;
	font-size: 14px;
}

.profile-usermenu ul li a:hover {
	background-color: #fafcfd;
	color: #5b9bd1;
}

.profile-usermenu ul li.active {
	border-bottom: none;
}

.profile-usermenu ul li.active a {
	color: #5b9bd1;
	background-color: #f6f9fb;
	border-left: 2px solid #5b9bd1;
	margin-left: -2px;
}

/* Profile Content */
.profile-content {
	padding: 20px;
	background: #fff;
	min-height: 460px;
}

/* search*/

#search {
		position: fixed;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.7);
		
		-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;

		-webkit-transform: translate(0px, -100%) scale(0, 0);
	-moz-transform: translate(0px, -100%) scale(0, 0);
	-o-transform: translate(0px, -100%) scale(0, 0);
	-ms-transform: translate(0px, -100%) scale(0, 0);
	transform: translate(0px, -100%) scale(0, 0);
		
		opacity: 0;
}

#search.open {
		-webkit-transform: translate(0px, 0px) scale(1, 1);
		-moz-transform: translate(0px, 0px) scale(1, 1);
	-o-transform: translate(0px, 0px) scale(1, 1);
	-ms-transform: translate(0px, 0px) scale(1, 1);
	transform: translate(0px, 0px) scale(1, 1); 
		opacity: 1;
}

#search input[type="search"] {
		position: absolute;
		top: 50%;
		width: 100%;
		color: rgb(255, 255, 255);
		background: rgba(0, 0, 0, 0);
		font-size: 60px;
		font-weight: 300;
		text-align: center;
		border: 0px;
		margin: 0px auto;
		margin-top: -51px;
		padding-left: 30px;
		padding-right: 30px;
		outline: none;
}
#search .btn {
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: 61px;
		margin-left: -45px;
}


#transp{

	color:rgba(119, 119, 119, 0.1);
}

#backhomepage {
	position: fixed;
	bottom: 79%;
	right: 35px;
	background: rgba(100, 100, 100, 0.4);
	font-size: 40px; 
	text-align: center;
	line-height: 40px;
	width: 40px;
	color: #fff;
	border-radius: 4px;
	z-index: 999;
	transition:background-color 0.3s linear;
}

/*#profileInformation {
	position: fixed;
	z-index: 9;
	background-color: #fff;
	width: 100%;
}*/

.gecko .spanup{
	margin-top: -16px;
}

.btn.disabled{
		font-size: 16px;
	margin-top: -3px;
	cursor:no-drop;
	pointer-events:inherit;
}

  
@media (max-width: 768px) {
  .btn-responsive {
    padding:2px 4px;

    line-height: 1;
    border-radius:3px;
    max-width: 100px;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .btn-responsive {
    padding:4px 9px;
 
    line-height: 1.2;
    max-width: 100px;
  }
}

@media (max-width: 768px)  {
  #search_fullpage {
 width: 100%;
  margin-left: -2px;
  }
}

@media (min-width: 640px) and (max-width: 1024px) {
  .profile-userpic {
   width: 186px;
   height: 186px;	
  }
}
@media (min-width: 501px) and (max-width: 639px) {
  .profile-userpic {
   width: 170px;
   height: 170px;
  }
}
@media (min-width: 360px) and (max-width: 500px) {
  .profile-userpic {
   width: 110px;
   height: 110px;
  }
}

@media (max-width:359px)  {
.profile-userpic {
   width: 75px;
   height: 75px;
  }
}



@media (min-width: 400px) and (max-width: 622px){
#range_calori{
 margin-left: 35.333333%;
	width: 52.666667%;
}
}

@media (min-width: 622px) and (max-width: 768px){
#range_calori{
 margin-left: 43.333333%;
	width: 53.666667%;
}
}

@media (min-width: 768px) and (max-width: 992px){
#range_calori{
  margin-left: 14.333333%;
  width: 95.666667%;
}
}

@media (min-width: 993px){
#range_calori{
  margin-left: 29%;
}
}

@media (min-width: 993px) and (max-width: 1042px){
#range_calori{
  margin-left: 17%;
  width: 82%;
}
}

@media (min-width: 1042px) and (max-width: 1117px){
#range_calori{
  margin-left: 17%;
  width: 87%;
}
}

/*.gecko select{
-webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';

}*/

#Cropit_image{
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
max-width: 200px;
max-height: 200px;
}

#Cropit_meal_image{
max-width: 520px;
max-height: 420px;	
}



@media (min-width: 992px) and (max-width: 1800px){
#select_div{padding-right: 10px;width: 40%;}
#image_select{margin:5px;padding: 5px 0px 0px 5px;width: 55%;}
}

  /*

@media (min-width: 1023px) and (max-width:1200px){
#content-2{padding-top:150px;}
}

@media (min-width: 1200px) and (max-width: 1310px){
#content-2{padding-top:40px;}
}
@media (min-width: 1310px) and (max-width: 1810px){
#content-2{padding-top:110px;}
}
@media (min-width: 100px) and (max-width: 440px){
#content-2{padding-top:60px;}
.smartdiv{  width: 100%;
  padding: 4px;
  box-sizing: content-box;}
}


@media (min-width: 1023px) and (max-width:1200px){
#content1{padding-top:150px;}
}

@media (min-width: 1200px) and (max-width: 1310px){
#content1{padding-top:180px;}
}
@media (min-width: 1310px) and (max-width: 1810px){
#content1{padding-top:200px;}
}
@media (min-width: 100px) and (max-width: 440px){
#content1{padding-top:60px;}
}
*/

.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

/* Endless Pagination */
.endless_container{
    clear: both;
    width: 100%;
    text-align: center;
}

/*   Show followers,following */

.src-image {
  display: none;
}

.card {
  overflow: hidden;
  position: relative;
  border: 1px solid #CCC;
  border-radius: 8px;
  text-align: center;
  padding: 0;
  background-color: #284c79;
  color: rgb(136, 172, 217);
}

.card .header-bg {
  /* This stretches the canvas across the entire hero unit */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  border-bottom: 1px #FFF solid;
  /* This positions the canvas under the text */
  z-index: 1;
}
.card .avatar {
  position: relative;
  margin-top: 15px;
  z-index: 100;
}

.card .avatar img {
  width: 100px;
  height: 100px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 5px solid rgba(0,0,30,0.8);
}

/*******************************/

/******** Notification 1 ********/

.notification {
	margin-top: 10px;
	margin-left:10px;
	position: relative;
	float: left;
}
.notification img {
	margin-top: 10px;
	margin-left:10px;
	display: block;
	width: 20px;
	height: auto;
}
.notification span {
	margin-top: 10px;
	margin-left:10px;
	background-color: #52B3D9;
	color: #fff;
	display: block;
	font-weight: bold;
	text-align: center;
	position: absolute;
	top: -12px;
	right: -12px;
	width: 22px;
	height: 22px;
	font-size: 9px;
	line-height: 19px;
	border-radius: 4px;
	border: 2px solid #fff;
	-webkit-animation-name: bounceIn;
	animation-name: bounceIn;
	-webkit-animation-duration: .75s;
	animation-duration: .75s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

@-webkit-keyframes bounceIn {
	0%,20%,40%,60%,80%,100% {
		-webkit-transition-timing-function:cubic-bezier(0.215,0.610,0.355,1.000);
		transition-timing-function:cubic-bezier(0.215,0.610,0.355,1.000);
	}
	0% {
		opacity:0;
		-webkit-transform:scale3d(.3,.3,.3);
		transform:scale3d(.3,.3,.3);
	}
	20% {
		-webkit-transform:scale3d(1.1,1.1,1.1);
		transform:scale3d(1.1,1.1,1.1);
	}
	40% {
		-webkit-transform:scale3d(.9,.9,.9);
		transform:scale3d(.9,.9,.9);
	}
	60% {
		opacity:1;
		-webkit-transform:scale3d(1.03,1.03,1.03);
		transform:scale3d(1.03,1.03,1.03);
	}
	80% {
		-webkit-transform:scale3d(.97,.97,.97);
		transform:scale3d(.97,.97,.97);
	}
	100% {
		opacity:1;
		-webkit-transform:scale3d(1,1,1);
		transform:scale3d(1,1,1);
	}
}
@keyframes bounceIn {
	0%,20%,40%,60%,80%,100% {
		-webkit-transition-timing-function:cubic-bezier(0.215,0.610,0.355,1.000);
		transition-timing-function:cubic-bezier(0.215,0.610,0.355,1.000);
	}
	0% {
		opacity:0;
		-webkit-transform:scale3d(.3,.3,.3);
		transform:scale3d(.3,.3,.3);
	}
	20% {
		-webkit-transform:scale3d(1.1,1.1,1.1);
		transform:scale3d(1.1,1.1,1.1);
	}
	40% {
		-webkit-transform:scale3d(.9,.9,.9);
		transform:scale3d(.9,.9,.9);
	}
	60% {
		opacity:1;
		-webkit-transform:scale3d(1.03,1.03,1.03);
		transform:scale3d(1.03,1.03,1.03);
	}
	80% {
		-webkit-transform:scale3d(.97,.97,.97);
		transform:scale3d(.97,.97,.97);
	}
	100% {
		opacity:1;
		-webkit-transform:scale3d(1,1,1);
		transform: scale3d(1,1,1);
	}
}
/********************************/


