.carousel{
  height: 100%;
}

.carousel .item {
   width: 100%; /*slider width*/
   height: 100%;
}

.carousel .item img {
  width: 100%; /*img width*/
  
}

/*add some makeup*/
.carousel .carousel-control {
  background: none;
  border: none;
}
    
/*full width container*/
@media (max-width: 767px) {
.block {
  margin-left: -20px;
  margin-right: -20px;
  }
}

/********************************/
/*         social    */
/********************************/
#social{
  float: right;  
  padding:13px;
  margin:0 auto;
  padding-right: 5%;  
}

#social .fa{
color:rgb(0,153,255); /*change colour of icons*/
    
}

#social .fa:hover{
color:rgb(153,204,255); 

}   

.copyr{
  margin-left: 40%;
}

#hakkinda{
  margin-left: 3%;
}

#resim1{
background:url("http://lorempixel.com/1024/750");
background-attachment: scroll;
background-position: center center;
background-size:cover;
height: 100%;

}