.myCarousel, section,.carousel-inner,.carousel{
  position:relative; height:100%
}
#active1, #active2, #active3{
  height: 100%;
  
}

.carousel .item {
   width: 100%; /*slider width*/
   height: 100%;
}

.carousel .item img {
  width: 100%; /*img width*/
  
}

/*add some makeup*/
.carousel .carousel-control {
  background: none;
  border: none;
}
    
/*full width container*/
@media (max-width: 767px) {
.block {
  margin-left: -20px;
  margin-right: -20px;
  }
}

/********************************/
/*         social    */
/********************************/
#social{
  float: right;  
  padding:13px;
  margin:0 auto;
  padding-right: 5%;  
}

#social .fa{
color:rgb(0,153,255); /*change colour of icons*/
    
}

#social .fa:hover{
color:rgb(153,204,255); 

}   

.copyr{
  margin-left: 40%;
}

#hakkinda{
  margin-left: 3%;
}

html,body{height:100%;}

/* */


.nav {
    left:84%;
    
    position:absolute;
}
.dropdown {
   
   
    border-radius:4px;
    width:200px;    
}
.dropdown-menu>li>a {
    color:#428bca;
}
.dropdown ul.dropdown-menu {
    
    box-shadow:none;
    margin-top:15px;
    width:200px;
}
.dropdown ul.dropdown-menu:before {
    content: "";
    border-bottom: 10px solid #fff;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    top: -10px;
    right: 16px;
    z-index: 10;
}
.dropdown ul.dropdown-menu:after {
    content: "";
    border-bottom: 12px solid #ccc;
    border-right: 12px solid transparent;
    border-left: 12px solid transparent;
    position: absolute;
    top: -12px;
    right: 14px;
    z-index: 9;
}