{% extends "base.html" %}

{% block test %}

  {% load static %}
  {% load thumbnail %}


	<div class="row well" id="formcont" style="height: 100%;">
  	<div class="col-sm-6 col-sm-push-3" id="content1" >
			<div class="col-xs-2"> </div>
  			<div class="col-xs-7 col-xs-offet-2" >
   				<div class="profilebar" >
						<form action="/home/account/image/" method="POST" role="form" enctype="multipart/form-data">	
				  		{% csrf_token %}
							<div class="profile-userpic">
							{% if request.user.profile.image %}
								{% thumbnail  request.user.profile.image "462x462" crop="center" as im %}
    						<img src="{{ im.url }}" class="img-responsive img-rounded center-block profileImage"/>          
								{% endthumbnail %}
								<input type="file" name="{{ form_accountImage.change_image.name }}" id="{{form_accountImage.change_image.name }}"> 
								<input type="hidden" name="{{ form_accountImage.hidden_field.name}}" id="{{ form_accountImage.hidden_field.name}}">
							{% else %}
								{% with path=MEDIA_URL|add:"user/default_user_image.png" %}
					  			{% thumbnail path "462x462" crop="center" as im %}
		  						<img src="{{ im.url }}"  class="img-responsive img-rounded center-block profileImage">
					  			{% endthumbnail %}
								{% endwith %}
				 				<input type="file" name="{{ form_accountImage.change_image.name }}" id="{{form_accountImage.change_image.name }}">
				 				<input type="hidden" name="{{ form_accountImage.hidden_field.name}}" id="{{ form_accountImage.hidden_field.name}}"> 	
              {% endif %}
              
	             	<center>
									<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
										<div class="modal-dialog modal-sm">
											<div class="modal-content">
												<div class="modal-header">
										      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
										      <h4 class="modal-title" id="myLargeModalLabel">Images Crop</h4>

										      <div class="modal-body">

										      	<!-- This wraps the whole cropper -->
														<div class="image-editor">
														  <input type="file" class="cropit-image-input">
														  <div class="cropit-image-preview" id="Cropit_image"></div>
														  <div class="image-size-label">
														    Resize image
														  </div>
														  <input type="range" class="cropit-image-zoom-input" style="position: static;">
														  <a href="#" class="btn btn-default export">Export</a>
														  <input type="submit" class="export" name="image" value="Save Image">
														</div>
													</div>
										    </div>
											</div>
										</div>
									</div>
								</center>
							</div>
					</form>

					<div class="profile-usertitle" >
						<div class="profile-usertitle-name">
							{{ request.user.get_full_name }}
						</div>
					</div>

				</div>
			</div>

	  	<div class=" panel-login" style="background:none;">
		 		<div class="panel-heading" style="background:none; ">
		   		<div class="row">
				  	
				  	<div class="col-xs-6">
							<a class="btn btn-default btn-sm" href="/home/account/user/" >Change İnformation</a>
						</div>
						<div class="col-xs-6">
					  	<a class="btn btn-default btn-sm" href="/home/account/password/" >Change Password</a>
						</div>
					
					</div>
				</div>

				<div class="panel-body">
					<div class="row">
						<div class="col-lg-12">
						
							<form id="login-form" action="/home/account/password/" method="POST" role="form" style="display: block;">
							{% csrf_token %}


              	{% for area in form_accountPassword %} 
                
                	{% if area.name == "currentPassword" %}

							    	<div class="form-group">
								    	<input type="password" name="{{ area.name }}" id="id_{{ area.name }}" class="form-control" placeholder="Current Password" tabindex="1"
		  		          	{% if area.errors %} 
		  		            	data-container="body" data-toggle="popover" data-placement="top" data-content="{{ area.errors|striptags }}"
		  		          	{% endif %} > 
							    	</div>

							  	{% endif%}
						
							  	{% if area.name == "newPassword" %}

							    	<div class="form-group">
								    	<input type="password" name="{{ area.name }}" id="id_{{ area.name }}" class="form-control" placeholder="New Password" tabindex="2"
		  		          	{% if area.errors %} 
		  		            	data-container="body" data-toggle="popover" data-placement="top" data-content="{{ area.errors|striptags }}"
		  		          	{% endif %} > 
							    	</div>

							  	{% endif%}

							  	{% if area.name == "confirm_newPassword"  %}

							    	<div class="form-group">
								    	<input type="password" name="{{ area.name }}" id="id_{{ area.name }}" class="form-control" placeholder=" Confirm New Password" tabindex="3"
		  		          	{% if area.errors %} 
		  		            	data-container="body" data-toggle="popover" data-placement="top" data-content="{{ area.errors|striptags }}"
		  		          	{% endif %} > 
							    	</div>

							  	{% endif%}

								{% endfor %}

								{% if form_accountPassword %}

							  	<div class="form-group">
								  	<div class="row">
									  
								    	<div class="col-md-6 col-xs-6 col-md-offset-3 col-xs-offset-3">
										  	<input type="submit" name="password" id="login-submit" tabindex="5" class="form-control btn btn-login" value="Change">
									  	</div>
								  
								  	</div>
							  	</div>

								{% endif %}

							</form>

						
							<form id="login-form" action="/home/account/user/" method="post" role="form" style="display: block;">
							{% csrf_token %}


              	{% for area in form_accountUser %} 
                	
                	{% if area.name == "first_name" %}

							    	<div class="col-lg-6 form-group">
								    	<input type="text" name="{{ area.name }}" id="id_{{ area.name }}" value="{{ request.user.first_name }}" class="form-control" placeholder="First Name" tabindex="1"
		  		          	{% if area.errors %} 
		  		            	data-container="body" data-toggle="popover" data-placement="top" data-content="{{ area.errors|striptags }}"
		  		          	{% endif %} > 
							    	</div>

							  	{% endif%}
						
							  	{% if area.name == "last_name" %}

							    	<div class="col-lg-6 form-group">
								    	<input type="text" name="{{ area.name }}" id="id_{{ area.name }}" value="{{ request.user.last_name }}" class="form-control" placeholder="Last Name" tabindex="2"
		  		          	{% if area.errors %} 
		  		            	data-container="body" data-toggle="popover" data-placement="top" data-content="{{ area.errors|striptags }}"
		  		          	{% endif %} > 
							    	</div>

							  	{% endif%}

							  	{% if area.name == "email"  %}

							    	<div class="col-lg-6 form-group">
								    	<input type="email" name="{{ area.name }}" id="id_{{ area.name }}" value="{{ request.user.email }}" class="form-control" placeholder="Email Adress" tabindex="3"
		  		          	{% if area.errors %} 
		  		            	data-container="body" data-toggle="popover" data-placement="top" data-content="{{ area.errors|striptags }}"
		  		          	{% endif %} > 
							    	</div>

							  	{% endif%}

							  	{% if area.name == "phone" %}

							    	<div class="col-lg-6 form-group">
								    	<input type="text" name="{{ area.name }}" id="id_{{ area.name }}" value="{{ request.user.profile.phone }}" class="form-control" placeholder="Telephone Number" tabindex="4"
		  		          	{% if area.errors %}
		  		            	data-container="body" data-toggle="popover" data-placement="top" data-content="{{ area.errors|striptags }}"
		  		          	{% endif %} > 
							    	</div>

							  	{% endif %}

							  	{% if area.name == "secret_profile" %}
                  
                  	<div class="col-lg-6 col-lg-offset-3 form-group">
							    		<div id="radios" >

												<span>Do not show profile!</span>
												<input type="checkbox" id="id_{{ area.name }}" name="{{ area.name }}" 
												{% if request.user.profile.secret_profile %}
											  	checked
												{% endif %} >
											 

											</div>	
										</div>

							  	{% endif %}

								{% endfor %}

								{% if form_accountUser%}

							  	<div class="form-group">
								  	<div class="row">
									 
								    	<div class="col-md-6 col-xs-6 col-md-offset-3 col-xs-offset-3" >
										  	<input type="submit" name="user" id="login-submit" tabindex="6" class="form-control btn btn-login" value="Change">
									  	</div>
								  	
								  	</div>
							  	</div>

								{% endif %}

							</form>

						</div>
					</div>
				</div>
			</div>
			
			<!-- Comeback -->
			<a id="backhomepage" href="/home/" class="fa fa-home"></a>

		</div>
	</div>
	
{% endblock %}