{% extends "base.html" %}

{% block test%}

<div class="row" id="Logincont">
	<div class="col-sm-12" id="content" >
		
		<form  accept-charset="UTF-8" action="/home/addfood/" method="POST">
		{% csrf_token %}

			<div class="col-sm-6">
				<center> <h4>Content Add </h4></center>	
	 			
	 			<div class="panel panel-default">
        	 		<div class="panel-body">

        	  {% for area in form_addMeal %}

        	    {% if area.name == "name" %}                 
                <input  class="form-control"  name="{{area.name}}" id="id_{{ area.name }}"placeholder="Meal Name" style="margin-bottom:10px;">
              {% endif %}
         
              {% if area.name == "description" %}
            	  <textarea class="form-control counted" name="{{ area.name }}" id="id_{{ area.name }}" placeholder="Recipe" rows="10" style="margin-bottom:10px;"></textarea>
              {% endif %}

	 	      	{% endfor %}

         		 	</div>
        		</div>

        		<div class="col-md-6">

				 	{% for area in form_addMeal %}

					  {% if area.name == "meal_kind" %}
      	 			<div class="" id="selecklab"  >
		        		<center> <label for="sel1">Select Meal Category</label>
									{{ area }}
		    	  		</center>
		    			</div>    
		 	     	{% endif %}
	      
	      {% endfor %}
    				</div>

						

     			</div> 
				 

				 <div class="col-sm-6" style="margin-top: 39px;">
      	<div class="panel panel-default">
    			<div class="panel-body">   
			    	
			    	<table class="table table-bordered table-hover table-sortable" id="tab_logic">
				    
				    	<thead>
					    	<tr >
						    	<th class="text-center " > Material </th>
    					  	<th class="text-center"> Amount </th>
					    	</tr>
				    	</thead>
				    
				    	<tbody>
				    	
				    	  {{ materialList_formset.management_form }}

				    	  <!--{{ materialList_formset }}--> 
				    	  {% for form in materialList_formset %}

				    	    <tr class="hidden" >
				 
			  		    	  {% for area in form %}
                      
                      {% if area.name = "material" %}
						    	      <td > {{ area }} </td>
						    	    {% elif area.name == "amount" %}
						    	      <td> {{ area }} </td>
						    	    {% else %}
						    	      {{ area }}
						    	    {% endif %}

						    	  {% endfor %}

						    	  <td data-name="del0">
                  		<button id="butondelete" type="button" class='btn btn-primary row-remove'> X </button>
                		</td>
                	</tr>

                {% endfor %}

   		    	  </tbody>

			    	</table>
			  
			  		<a id="add_row" class="btn btn-default pull-right">Add Row</a>
            </div>
			  </div>
			</div>
			<div class="row">
  			<div class="col-md-6"></div>
  			<div class="col-md-6">
    			<div class="col-xs-6  col-md-6 " >
      			<input type="submit" value="Register" class="btn btn-primary btn-block btn-lg" tabindex="9">
    			</div>
  			</div>
			</div> 
			<br> <br> <br><br> <br> <br><br> 
		</form>
	</div>
    
 

</div>

{% endblock %}