	<!DOCTYPE html>
<html>
<head>

  {% load static %}
  
  <title>Food Secrets</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="{% static "bootstrap/js/bootstrap.min.js"%}"></script>
  <script src="{% static "js/form.js" %}"></script>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.min.css" %}">
  <link rel="stylesheet" href="{% static "css/form.css" %}">
  <link rel="stylesheet" href="{% static "css/index.css" %}">
  <link rel="stylesheet" href="{% static "css/home.css" %}">
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  
</head>

<body>
	
  <nav class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
		
    <div class="container-fluid">
			
	  <!-- Brand and toggle get grouped for better mobile display -->
	  <div class="navbar-header">
		<a class="navbar-brand" href="/">Food Secrets</a>
	  </div>

	  {% if request.user.is_authenticated == False %}

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		  <ul class="nav navbar-nav navbar-right">
		    <li><p class="navbar-text"><a href="/register">Sing up</a></p></li>
		    <li class="dropdown">
			  <a href="login/" class="dropdown-toggle" data-toggle="dropdown"><b data-container="body" data-toggle="popover" data-placement="bottom" data-content="{{ form_login.non_field_errors|striptags}}">Login</b> <span class="caret"></span></a>
			  <ul id="login-dp" class="dropdown-menu">
			    <li>
			      <div class="row">
				    <div class="col-md-12">
						
					  <!--        Login Form      -->

					  <form class="form" role="form" method="POST" action="/login/" accept-charset="UTF-8" id="login-nav" >
                      {% csrf_token %}
					  
					    {% for area in form_login %}
					    
					      {% if area.name == "username"%}

					        <div class="form-group">
						      <label class="sr-only" for="id_{{ area.name }}">User Name</label>
						      <input type="text" name="{{ area.name }}" class="form-control" id="id_{{ area.name }}" placeholder="User Name" tabindex="1"  required>
						    </div>

						  {% endif%}

						  {% if area.name == "password" %}
											
						    <div class="form-group">
						      <label class="sr-only" for="id_{{ area.name }}">Password</label>
						      <input type="password" name="{{ area.name }}" class="form-control" id="id_{{ area.name }}" placeholder="Password" tabindex="2" required>
						      <div class="help-block text-right"><a href="">Forget the password ?</a></div>
						    </div>

						  {% endif %}

					    {% endfor %}

					    {% if area.errors %}
					      <label> {{ area.errors }} </label>
					    {% endif %}
											
					    <div class="form-group">
						  <button type="submit" value="Login" class="btn btn-primary btn-block" tabindex="3">Sign in</button>
					    </div>
						
					    <div class="checkbox">
						  <label>
						    <input type="checkbox"> Keep me logged-in
						  </label>
					    </div>

					  </form>

					  <!--                        -->

			        </div>
				  </div> 
		        </li>
			  </ul>
		    </li>
		  </ul>
	    </div>

        {% else %}

          <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Iasmani Pinazo <span class="glyphicon glyphicon-user pull-right"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Account Settings <span class="glyphicon glyphicon-cog pull-right"></span></a></li>
            <li class="divider"></li>
            <li><a href="#">User stats <span class="glyphicon glyphicon-stats pull-right"></span></a></li>
            <li class="divider"></li>
            <li><a href="#">Messages <span class="badge pull-right"> 42 </span></a></li>
            <li class="divider"></li>
            <li><a href="#">Favourites Snippets <span class="glyphicon glyphicon-heart pull-right"></span></a></li>
            <li class="divider"></li>
            <li><a href="#">Sign Out <span class="glyphicon glyphicon-log-out pull-right"></span></a></li>
          </ul>
        </li>
      </ul>

	  {% endif %}



	</div>
  </nav>

	{% block body %}{% endblock %}
	{% block slider %}{% endblock %}
	{% block home %}{% endblock %}

<footer> 
  
  <div class="navbar navbar-default navbar-fixed-bottom" style="bottom:1;">
  	<div id="hakkinda">
  		<p class="navbar-text pull-left">
  			<a href="https://github.com/kenansubasi/foodsecrets.git" target="_blank" >Github</a>
     	</p>
    </div>

   	<div class="copyr">
      <p class="navbar-text pull-left" >© 2015
        <a href="http://www.unicrow.com/" target="_blank" >Unicrow</a>
      </p>

    </div>
	<div id="social">
      <i class="fa fa-facebook-square fa-2x"></i> <!-- range from fa-1x for small icon to 5x for larger icon -->
      <i class="fa fa-twitter-square fa-2x"></i>  <!-- range from fa-1x for small icon to 5x for larger icon -->
      <i class="fa fa-pinterest-square fa-2x"></i>  <!-- range from fa-1x for small icon to 5x for larger icon -->
      <i class="fa fa-google-plus-square fa-2x"></i>  <!-- range from fa-1x for small icon to 5x for larger icon -->
    </div>
    
	 
    </div>
  </div>


</footer>

</body>
</html>