{% extends "base.html" %}

{% block home%}

  {% load profiles_extra %}
  {% load static %}
  {% load thumbnail %}
  {% load endless %}
  
  {% block js %}
  	{{ block.super }}
    <script>
   			$.endlessPaginate({
    				paginateOnScroll: true,
    				paginateOnScrollMargin: 1
        });
    </script>
  {% endblock %}

	<div class="row" id="Logincont">
		<div class="col-sm-2 " id="userpanel" >
			<div class="profile-sidebar">
				<!-- SIDEBAR USERPIC -->
					<div class="home_userpic ">
          
          	{% if other_profilePage %}

							{% if otherUser.profile.image %}
					  		{% thumbnail  otherUser.profile.image "462x462" crop="center" as im %}
            			<img src="{{ im.url }}"  class="img-responsive imagefix" id="imgprofil" >
								{% endthumbnail %}
							{% else %}
								{% with path=MEDIA_URL|add:"user/default_user_image.png" %}
						  		{% thumbnail path "462x462" crop="center" as im %}
				  					<img src="{{ im.url }}"  class="img-responsive img-rounded center-block" id="imgprofil">
						  		{% endthumbnail %}
								{% endwith %}
							{% endif %}

						{% else %}

							{% if request.user.profile.image %}
					  		{% thumbnail  request.user.profile.image "462x462" crop="center" as im %}
            			<img src="{{ im.url }}"  class="img-responsive imagefix" id="imgprofil" >
								{% endthumbnail %}
							{% else %}
								{% with path=MEDIA_URL|add:"user/default_user_image.png" %}
						  		{% thumbnail path "462x462" crop="center" as im %}
				  					<img src="{{ im.url }}"  class="img-responsive img-rounded center-block" id="imgprofil">
						  		{% endthumbnail %}
								{% endwith %}
							{% endif %}

						{% endif %}
 
					</div>

				<div class="profile-usertitle">
					<div class="profile-usertitle-name">
						{% if other_profilePage %}
            	{{ otherUser.get_full_name }}
						{% else %}
							{{ request.user.get_full_name }}
						{% endif%}
					</div>
					<div class="col-"></div>
	
				</div>
				<!--           -->

				<!-- Sliderbar -->
				<div class="alert alert-success" role="alert" style=" margin-top: 35px; ">
				<center><h3><u>Meal Filter<u></h3></center>

				<form method="POST" action="/home/filter/" accept-charset="UTF-8">
				{% csrf_token %}
					 <div style="  margin-top: 35px;"> 
						
						<div class="col-xs-10 col-xs-offset-1" id="slider-range"></div>
						<div class="col-sm-11 col-md-9 col-xs-8 col-sm-offset-1 col-md-offset-3 col-xs-offset-4" id="range_calori"> 
							<p>
							<label for="amount" style="margin-top:10px; margin-left:-3px;">Calories </label><br>
							<input type="text" id="amount" name="amount" readonly style="border:0; font-weight:bold; background: none;  margin-left:-5px;">
						</p>
						</div>
						<div class="width_btn">
								<select class="selectpicker dish" name="kind_select" multiple>
									<option class="optionsID">Ana Yemek</option>
									<option class="optionsID">Başlangıç</option>
									<option class="optionsID">Ara Sıcak</option>
								</select>
								<br><br>
						<div class="col-sm-11 col-md-9 col-xs-8 col-sm-offset-1 col-md-offset-3 col-xs-offset-4" id="range_calori"> 		
							<button type="submit" id="filter_button" name="filter_button" class="btn btn-primary">Filter</button>
						</div>
						</div>
					
				</div>
				</form>
				</div>
				<!-- Sliderbar -->

	    </div>
	   </div>

		<div class="col-sm-10 col-sm-offset-2 " id="content" >

			<div id="profileInformation" class="page-header">
				<center>
	      	{% if homePage %}
					  <h2 class="degis2" > Home Page </h2>
					{% elif myFavouritesPage %}
					  <h2 class="degis2"> Your Favourite Meals </h2>
					{% elif searchPage %}
					  <h2 class="degis2"> Your Search </h2>
					{% elif filterPage %}
					  <h2 class="degis2"> Your Filter Search</h2>
					{% elif mostFavouritesPage %}
					  <h2 class="degis2"> Most Favourite Meals </h2>
					{% elif user_profilePage%}
					  <h2 class="degis2"> Your Profile </h2>
					{% elif other_profilePageFav %}
						<h2 class="degis2"> {{ otherUser.get_full_name }}'s Favourites </h2>
					{% elif other_profilePage%}
					  <h2 class="degis2"> {{ otherUser.get_full_name }}'s Profile </h2>
					{% else %}
					  <h2 class="degis2"> Your Meals </h2>
					{% endif %}
				</center>

				<ul class="nav nav-tabs nav-justified">

					{% if request.get_full_path|splitUrl == "home" %}
				 		<li role="presentation" class="active">
				 	{% else %}
				 		<li role="presentation">
				 	{% endif %}
				 		<a href="/home/">
				 			Home
				 			<br>Page
				 		</a>
				 	</li>	 	
					
					{% if request.get_full_path|splitUrl == "meals" %}
				 		<li role="presentation" class="active">
				 	{% else %}
				 		<li role="presentation">
				 	{% endif %}
				 		{% if other_profilePage %}
				 			<a href="#" id="{{ otherUser.username }}" class="otherUserMeal">
				 				Meals
				 				<br>{{ otherUser|mealCount }}
				 			</a>
				 		{% else %}
				 			<a href="/home/meals/">
				 				Meals
				 				<br>{{ request.user|mealCount }}
				 			</a>
				 		{% endif %}
				 	</li>	 	

				 	{% if request.get_full_path|splitUrl == "favourites" %}
				 		<li role="presentation" class="active">
				 	{% else %}
				 		<li role="presentation">
				 	{% endif %}
				 		{% if other_profilePage %}
				 			<a href="#" id="{{ otherUser.username }}" class="otherUserFavourites">
				 				Favorites
				 				<br><span id="favourites_count">{{ otherUser.profile.favourites.all.count }}</span>
				 			</a>
				 		{% else %}
				 			<a href="/home/favourites/">
				 				Favorites
				 				<br>{{ request.user.profile.favourites.all.count }}
				 			</a>
				 		{% endif %}
				 	</li>

				 	{% if request.get_full_path|splitUrl == "mostfavourites" %}
				 		<li role="presentation" class="active">
				 	{% else %}
				 		<li role="presentation">
				 	{% endif %}
				 		{% if other_profilePage %}
				 			<a href="#" id="{{ otherUser.username }}" class="otherUserMostFavourites">
				 				Most Favourites
				 				<br>{{ otherUser|mostMealCount }} / 5
				 			</a>
				 		{% else %}
				 			<a href="/home/mostfavourites/">
				 				Most Favourites
				 				<br>{{ request.user|mostMealCount }} / 5
				 			</a>
				 		{% endif %}
				 	</li>

				 		{% if request.get_full_path|splitUrl == "followers" %}
				 		<li role="presentation" class="active">
				 	{% else %}
				 		<li role="presentation">
				 	{% endif %}
				 		{% if other_profilePage %}
					 		<a href="#">
					 			Followers
					 			<br>{{ otherUser.profile.followers.all.count }}
					 		</a>
						{% else %}
					 		<a href="/home/followers/">
					 			Followers
					 			<br>{{ request.user.profile.followers.all.count }}
					 		</a>
						{% endif %}
					</li>

					{% if request.get_full_path|splitUrl == "following" %}
				 		<li role="presentation" class="active">
				 	{% else %}
				 		<li role="presentation">
				 	{% endif %}
				 		<a href="#">
				 			Following
				 			{% if other_profilePage %}
				 				<br>{{ otherUser.profile.following.all.count }}
				 			{% else %}
				 				<br>{{ request.user.profile.following.all.count }}
				 			{% endif %}
				 		</a>
				 	</li>

				 	{%if other_profilePage != True %}
				 		<li role="presentation">
				 			<a href="/home/addmeal/">
				 				Add 
				 				<br>Meal
				 			</a>
				 		</li>
				 	{% endif %}

				 	{% if other_profilePage and request.user.profile.following.all|hasUser:otherUser == False %}
				 		<li role="presentation" class="menuList"> 
				 			<a href="#" id="{{ otherUser.username }}" class="otherUserFollowToggle">
				 				Follow
				 				<br><br> 
				 			</a>
				 		</li>
				 		<!--{% if otherUser.profile.following.all|hasUser:request.user %}
				 			<span class="infFollow"> Seni Takip Ediyor </span>
				 		{% endif %}-->
				 	{% endif %}

				 	{% if other_profilePage and request.user.profile.following.all|hasUser:otherUser == True %}
				 		<li role="presentation" class="menuList">
				 			<a href="#" id="{{ otherUser.username }}" class="otherUserFollowToggle">
				 				Unfollow
				 				<br><br>
				 			</a>
				 		</li>
				 		<!--{% if otherUser.profile.following.all|hasUser:request.user %}
				 			<span class="infFollow"> Birbirinizi Takip Ediyorsunuz </span>
				 		{% endif %}-->
				 	{% endif %}

				</ul>

			</div>

      <div class="timeline">

      {% if myFavouritesPage or myMealsPage %}
        {% if meals_available %}
      	  <form accept-charset="UTF-8" method="GET">
        {% endif %}
      {% endif %}
			
			<!--{% include "follow.html" %}--> 
			<div class="line text-muted" id="transp"></div>
			{% include "pagination.html" %}
			<!--{{ pages.previous }} {% show_current_number %} {{ pages.next }}-->

      <!--{% if page.has_next %}
      	<input type="hidden" id="{{ request.get_full_path }}" class="currentUrl"/>
				<a id="{{ page.number|add:1 }}" class="btn btn-default loadMore"> Load More </a>
			{% endif %}--> 

			{% if myFavouritesPage or myMealsPage %}
			  {% if meals_available %}
					<div class="checkbox pull-right">
					<label><input  type="checkbox" id="selectall" name="selectall"> Select All</label>
					</div>
				{% endif %}
			{% endif %}
    
      {% if myFavouritesPage or myMealsPage %}
        {% if meals_available %}
        		<button type="Submit" class="pull-left btn btn-primary btn-sm meal" value="Delete"> Seçili Öğeleri Kaldır </button>
      		</form>
      	{% endif %}
      {% endif %}

			<article class="panel panel-info panel-outline">
					
				<div class="panel-heading icon">
					<i class="glyphicon glyphicon-info-sign"></i>
				</div>
				
				<div class="panel-body degis4" >
				  {% if meals_available and page.has_next %}
						That is all.
					{% elif meals_available == False %}
					  Meal not available
					{% endif %}
				</div>

			</article>
			
		
		</div>
	       
	</div>
    {% if myFavouritesPage or mostFavouritesPage or myMealsPage or filterPage or searchPage or user_profilePage or other_profilePage%}
      <a id="backhomepage" href="/home/" class="fa fa-home"></a>
    {% endif %}
</div>

{% endblock %}