{% extends "base.html" %}

{% block home%}

  {% load profiles_extra %}


	<div class="row" id="Logincont">
		
		<div class="col-sm-10 col-sm-push-2" id="content" >

			<div class="page-header">
				<h2> Home Page </h2>
			</div>

       <div class="timeline">
			{% for meal in AllMeal %}
					
					<div class="line text-muted" id="transp"></div>
					<article class="panel panel-primary">
				
						<div class="panel-heading icon">
							<i class="fa fa-plus"></i>
						</div>
				 
						<div class="panel-heading">
							<h2 class="panel-title">
							  {{ meal.user.get_full_name }}    bir   {{ meal.meal_kind }}   ekledi. 
							<i class="pull-right fa fa-star-o "></i> </h2> 
								<!-- hover star-->
						</div>
						
						<div class="panel-body">
							{{ meal.description }}
						</div>
						
						<div class="panel-footer">
						 <button type="button" id="{{ meal.id }}" class="pull-right btn btn-primary btn-sm meal" style="margin-top: -5px;">Show Meal</button>
							<small>
					
								<!--{{ meal.addingDate|timesince:currentTime }}-->
								{{ meal.addingDate|timeDifference:currentTime}}

							</small>

						</div>
						
					</article>

			{% endfor %}



			<article class="panel panel-info panel-outline">
					
				<div class="panel-heading icon">
					<i class="glyphicon glyphicon-info-sign"></i>
				</div>
					 
				<div class="panel-body">
					That is all.
				</div>

			</article>
		
		</div>

	
		       

	</div>

	<div class="col-sm-2 col-sm-pull-10" id="userpanel" >
		<div class="profile-sidebar">
			
			<!-- SIDEBAR USERPIC -->
			<div class="profile-userpic ">
				<img src="http://tr1.cbsistatic.com/fly/180-fly/bundles/techrepubliccore/images/icons/standard/icon-user-default.png" class="img-responsive" id="imgprofil" > 

				
			</div>
			<!-- END SIDEBAR USERPIC -->

			<!-- SIDEBAR USER TITLE -->
			<div class="profile-usertitle">
				<div class="profile-usertitle-name">
					{{ request.user.get_full_name }}
				</div>
				 <a href="/home/addfood/" class="btn btn-primary">Add Food</a>
			</div>
    
    </div>
</div>

{% endblock %}