{% extends "base.html" %}

{% block slider %}
<section class="block">
    <div id="myCarousel" class="carousel slide">
        <div class="carousel-inner">
            <div class="active item" alt="Slide1" style="background:url('http://lorempixel.com/1024/750'); background-attachment: scroll;background-position: center center;background-size:cover;">
            <center><h1>Slider1</h1>  </center> 
            </div>
            <div class="item" alt="Slide1" style="background:url('http://lorempixel.com/1024/750'); background-attachment: scroll;background-position: center center;background-size:cover;">
            <h1>Slider 2</h1>  
            </div>
            <div class="item" alt="Slide1" style="background:url('http://lorempixel.com/1024/750'); background-attachment: scroll;background-position: center center;background-size:cover;">
            <h1>Slider 3</h1>  
            </div>
        </div>
        <a class="carousel-control left" href="#myCarousel" data-slide="prev">‹</a>
 <a class="carousel-control right" href="#myCarousel" data-slide="next">›</a>

    </div>
</section>
{% endblock %}