{% extends "base.html" %}

{% block page %}
  
  {% load foods_extra %}
  {% load static %}
  {% load thumbnail %}

	<div class="row" id="Logincont">

	<div class="col-sm-2 " id="userpanel" >
			<div class="profile-sidebar">
				<div class="home_userpic ">
					
					{% if request.user.profile.image %}
					  {% thumbnail  request.user.profile.image "462x462" crop="center" as im %}
            	<img src="{{ im.url }}"  class="img-responsive imagefix" id="imgprofil" >
						{% endthumbnail %}
					{% else %}
					  <img src="{% static 'images/user/default_user_image.png' %}" class="img-responsive imagefix" id="imgprofil" >
					{% endif %}

				</div>
	
				<div class="profile-usertitle">
					<div class="profile-usertitle-name">
						{{ request.user.get_full_name }}
					</div>
					<div class="col-"></div>
					 <a href="/home/addmeal/" class="btn btn-primary btn-sm buttonmin">Add Meal</a> 
					 <a href="/home/myfavourites/" class="btn btn-primary btn-sm buttonmin">My Favorites</a> 
					 <a href="/home/mymeals/" class="btn btn-primary btn-sm buttonmin">My Meals</a>
					 <a href="/home/mostfavourites/" class="btn btn-primary btn-sm buttonmin">Most Favorites</a> 
					 
				</div>
				<div class="alert alert-success" role="alert" style=" margin-top: 35px; ">
				<center><h3><u>Meal Filter<u></h3></center>

				<form method="POST" action="/home/filter/" accept-charset="UTF-8">
				{% csrf_token %}
					 <div style="  margin-top: 35px;"> 
						
						<div class="col-xs-10 col-xs-offset-1" id="slider-range"></div>
						<div class="col-sm-11 col-md-9 col-xs-8 col-sm-offset-1 col-md-offset-3 col-xs-offset-4" id="range_calori"> 
							<p>
							<label for="amount" style="margin-top:10px; margin-left:-6px;">Calories </label>
							<input type="text" id="amount" name="amount" readonly style="border:0; font-weight:bold; background: none;  margin-left:-5px;">
						</p>
						</div>
						<div class="width_btn">
								<select class="selectpicker dish" name="kind_select" multiple>
									<option class="optionsID">Ana Yemek</option>
									<option class="optionsID" >Başlangıç</option>
									<option class="optionsID">Ara Sıcak</option>
								</select>
								<br><br>
						<div class="col-sm-11 col-md-9 col-xs-8 col-sm-offset-1 col-md-offset-3 col-xs-offset-4" id="range_calori"> 		
							<button type="submit" id="filter_button" name="filter_button" class="btn btn-primary">Filter</button>
						</div>
						</div>
					
				</div>
				</form>
				</div>
				
	    </div>
	   </div>
		
		<div class="col-sm-10 col-sm-offset-2" id="content" >

			<div class="page-header">
				<span class="degis"> {{ meal.name }}  </span> <span class="degis pull-right" style="margin-right: 8%;"> {{ meal.meal_kind }} </span>
			</div>

         <div class="row marketing">
       
        <div class="col-lg-12">
         <div class="col-lg-6" style="width:auto">
          <p>
           	{% if meal.image %}
				  		{% thumbnail  meal.image "520x420" crop="center" as im %}
          			<img src="{{ im.url }}"  class="img-responsive img-rounded center-block" >
							{% endthumbnail %}
						{% else %}
							{% with path=MEDIA_URL|add:"meal/default_meal_image.jpg" %}
						  	{% thumbnail path "520x420" crop="center" as im %}
				  				<img src="{{ im.url }}"  class="img-responsive img-rounded center-block">
						  	{% endthumbnail %}
						  {% endwith %}
						{% endif %}

          </p>
         </div>
         
         <h4 class="degis2">Tarif ( {{ meal.user.get_full_name }} ) </h4>
         <p id="contenttext">{{ meal.description }} </p>

        </div>

      </div>
      	<div class="col-md-12">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">Materials</h3>
						<div class="pull-right">
							
							
						</div>
					</div>
					
					<table class="table table-hover" id="dev-table">
						<thead>
							<tr>
								<th>#</th>
								<th>Material</th>
								<th>Amount</th>
								<th>Calories</th>
							</tr>
						</thead>
						<tbody>

						{% for material in materialList %}
							<tr>
								<td> {{ forloop.counter }} </td>
								<td> {{ material.material.name }} </td>
								<td> {{ material.amount }} {{ material.material.material_kind}} </td>
								<td> {{ material|totalCalories }}</td>
							</tr>
						{% endfor %}
						</tbody>

					</table>
				</div>
			</div>
		<div class="col-md-8 col-sm-8 col-xs-4"></div>
			<div class="col-md-4 col-sm-4 col-xs-7 degis3" > Total calories: {{ meal.totalCalories }}<br></div>
	
	</div>
			<!-- Comeback -->
			<a id="backhomepage" href="/home/" class="fa fa-home"></a>
</div>

{% endblock %}