{% load endless %}
{% load thumbnail %}
{% load profiles_extra %}
{% load static %}

{% if profileFollowPage or friendRequestsPage %}
	
	{% paginate 8,4 AllUsers %}
			{% for other_user in AllUsers %}
			
				{% if forloop.counter|modulo:4 == 1 %}
					<div class="container">
						<div class="row">
				{% endif %}

						<div class="col-sm-3">
							<div class="card">
								<canvas class="header-bg" width="250" height="70" id="header-blur"></canvas>
							
								<div class="avatar">
									<img src="" alt="" />
								</div>
								
								<div class="content">
									
									<p>
										{% if other_user.profile.secret_profile %}
											{% if request.user|controlFollowing:other_user or request.user == other_user %}
												<a href="#" id="{{ other_user.username }}" class="btn userLink"> 
													<u>	{{ other_user.get_full_name }}	</u>	
												</a>
											{% else %}
												<a href="#" id="{{ other_user.username }}" class="btn	disabled userLink"> 
													<u>	{{ other_user.get_full_name }}	</u>	
												</a>
											{% endif %}
										{% else %}
										 	<a href="#" id="{{ other_user.username }}" class="btn userLink"><u> {{ other_user.get_full_name }} </u></a>
										{% endif %}<br>
									</p>
									<p>
											
										{% if profileFollowPage %}
											
											{% if request.user == other_user %}
												<a href="/home/account/user/"  class="btn btn-default">
						 							Edit Profile
						 						</a>
											{% else %}
												{% if request.user|controlMyBlocked:other_user == False %}
													
													{% if request.user|controlFollowing:other_user or request.user == other_user %}
								 						<a href="#" id="{{ other_user.username }}" class="btn btn-info otherUserFollowToggle" onmouseover="mouseover_tag(this)" onmouseout="mouseout_tag(this)">Following</a>
								 					{% elif other_user.profile.secret_profile %}
								 						{% if request.user|controlSendRequests:other_user %}
								 							<a href="#" id="{{ other_user.username }}" class="btn btn-danger secretProfileFollowRequestToggle">
								 								Cancel Request
								 							</a>
								 						{% else %}
								 							<a href="#" id="{{ other_user.username }}" class="btn btn-success secretProfileFollowRequestToggle">
								 								Follow Request
								 							</a>
								 						{% endif%}
								 					{% else %}
								 						<a href="#" id="{{ other_user.username }}" class="btn btn-primary otherUserFollowToggle">
								 							Follow
								 						</a>
								 					{% endif %}

								 				{% else %}
								 					<a href="#" id="{{ other_user.username }}" class="btn btn-danger otherUserBlockToggle" onmouseover="mouseover_tag(this)" onmouseout="mouseout_tag(this)">Blocked</a>
								 				{% endif %}

						 					{% endif %}

						 				{% endif %}

						 				{% if friendRequestsPage %}
						 					<a href="#" id="{{ other_user }}" class="btn btn-success acceptRequest">Accept</a>
						 					<a href="#" id="{{ other_user }}" class="btn btn-danger cancelRequest">Cancel</a>
						 				{% endif %}


						 			</p>

								</div>

							</div>
						</div>

				{% if other_user.profile.image %}
					<img class="src-image" src="{{ other_user.profile.image.url }}"/>
				{% else %}
					<img class="src-image" src="{{ 'default_user_image.png'|encodeBase64:'user' }}"/>
				{% endif %}
				
				{% if forloop.counter|divisibleby:4 or AllUsers|size == forloop.counter %}		
						</div>
					</div>
					<br>
				{% endif %}
	{% endfor %}
	
	{% show_more "loading..." %}

{% else %}
	{% paginate 10,5 AllMeal %}
	{% for meal in AllMeal %}

		<article class="panel panel-primary">

			<div class="panel-heading icon">
				<i class="fa fa-plus"></i>
			</div>
	 
			<div class="panel-heading">
				<h2 class="panel-title">

				  {% if homePage %}

				    {% if meal.user.profile.secret_profile and meal.user != request.user and request.user|controlFollowing:meal.user == False%}
				  		<a href="#" id="{{ meal.user.username }}" class="btn disabled userLink" style="padding:0;"> 
				  			<u> {{ meal.user.get_full_name }} </u> 
				  		</a>  bir   {{ meal.meal_kind }}   ekledi. ( {{ meal.name }})
				    {% else %}
				    	{% if meal.user == request.user %}
				    		<a href="/home/meals/" id="{{ meal.user.username }}"> 
				    			<u> {{ meal.user.get_full_name }} </u> 
				    		</a>  bir   {{ meal.meal_kind }}   ekledi. ( {{ meal.name }})
				    	{% else %}
				      	<a href="#" id="{{ meal.user.username }}" class="userLink"> 
				      		<u> {{ meal.user.get_full_name }} </u>
				      	</a>  bir   {{ meal.meal_kind }}   ekledi. ( {{ meal.name }})
				    	{% endif %}
				    
				    {% endif %}

				  {% elif myMealsPage or other_profilePageMeals %}
	          {{ meal.name }} ( {{ meal.meal_kind }} ) 

				  {% else %}

				    {% if meal.user.profile.secret_profile and meal.user != request.user and request.user|controlFollowing:meal.user == False %}
				  		{{ meal.name }} ( <a href="#" id="{{ meal.user.username }}" class="btn disabled userLink" style="padding:0;"> 
				  												<u> {{ meal.user.get_full_name }} </u>
				  											</a> )
				    {% else %}
				    	{% if meal.user == request.user %}
				    	  {{ meal.name }} ( <a href="/home/meals/" id="{{ meal.user.username }}"> 
				    	  										<u> {{ meal.user.get_full_name }} </u>
				    	  									</a> )
				    	{% else %}
				        {{ meal.name }} ( <a href="#" id="{{ meal.user.username }}" class="userLink"> 
				        										<u> {{ meal.user.get_full_name }} </u>
				        									</a> )
				    	{% endif %}
				    {% endif %}
				    
				  {% endif %} 
			     	
				  <!-- favori butonu-->
				  {% if homePage or mostFavouritesPage or filterPage or searchPage or other_profilePage or user_profilePage %}
				    {% if request.user != meal.user %}
					    <div class="pull-right stars active" style="background: transparent;border: transparent;">

						  	{% if allFavouriteMeals|hasMeal:meal %}
							  
							  	<button id="{{meal.id}}" class="fa fa-star star" style="background: transparent;
							  	 border: transparent;"><span class="icon_fav" id="{{ meal.id }}"> {{ meal.favourite }} </span></button>	
								{% else %}
						  		
						  		<button id="{{meal.id}}" class="fa fa-star-o star" style="background: transparent;
						  		border: transparent;"><span class="icon_fav" id="{{ meal.id }}"> {{ meal.favourite }} </span></button> 	
								{% endif %}
								
							</div>
						{% else %}
						 	<div class="pull-right" style="background: transparent;border: transparent;">
								<span class="icon_fav"> {{ meal.favourite }} favourite{{ meal.favourite|pluralize }} </span>
							</div>
						{% endif %}
					{% endif %}

					{% if myFavouritesPage or myMealsPage %}
						{% if meals_available %}
					  	<div class="pull-right stars active" style="background: transparent;border: transparent;">
					  		<input type="checkbox" id="{{ meal.id }}" name="meal" value="{{ meal.id }}" class="checkbox_container">
					  	</div>
					  {% endif %}
					{% endif %}
				
				</h2> 
			</div>
			
			<div class="panel-body" id="contenttext">
				{{ meal.description|mealDescription }}
			</div>
			
			<div class="panel-footer">
			 <button type="button" id="{{ meal.id }}" class="pull-right btn btn-primary btn-sm meal" style="margin-top: -5px;">Show Meal</button>
				<small>
		      
					<!--{{ meal.addingDate|timesince:currentTime }}-->
					{{ meal.addingDate|timeDifference:currentTime }}

				</small>
			</div>
			
		</article>

	{% endfor %}
	{% show_more "loading..." %}

{% endif %}
