
{% extends "base.html" %}

{% block body %}
<br>
<br>
<br>
<br>

<div class="container-fluid">
  <div class="container">
	<div class="row">
	  <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
				
		<form role="form" method="POST" action="/register/">
		{% csrf_token %}

		  <h2>Please Sign Up <small>It's free and always will be.</small></h2>
		  <hr class="colorgraph">

		{% for alan in form %}

		    {% if alan.name != "email" %}
              
              {% if alan.name == "first_name" or alan.name == "username" or alan.name == "password1"%}
                <div class="row">
              {% endif %}

		  	  <div class="col-xs-12 col-sm-6 col-md-6">
		  		<div class="form-group">

		  		  {% if alan.name == "first_name" %}
		  		    
		  		    {% if alan.errors %}
		  		      <input type="text" name="{{ alan.name }}" id="id_{{ alan.name }}" class="form-control input-lg" placeholder="First Name" tabindex="1" data-container="body" data-toggle="popover" data-placement="top" data-content="{{ alan.errors|removetags:'ul li' }}">
		  		    {% else %}
		  		      <input type="text" name="{{ alan.name }}" id="id_{{ alan.name }}" class="form-control input-lg" placeholder="First Name" tabindex="1">
		  		    {% endif %}

		  		  {% elif alan.name == "last_name" %}

		  		    {% if alan.errors %}
		  		      <input type="text" name="{{ alan.name }}" id="id_{{ alan.name }}" class="form-control input-lg" placeholder="Last Name" tabindex="2" data-container="body" data-toggle="popover" data-placement="top" data-content="{{ alan.errors|removetags:'ul li' }}" >
		  		    {% else %}
		  		      <input type="text" name="{{ alan.name }}" id="id_{{ alan.name }}" class="form-control input-lg" placeholder="Last Name" tabindex="2">
		  		    {% endif %}

		  		  {% elif alan.name == "username" %}

		  		    {% if alan.errors %}
		  		      <input type="text" name="{{ alan.name }}" id="id_{{ alan.name }}" class="form-control input-lg" placeholder="User Name" tabindex="3" data-container="body" data-toggle="popover" data-placement="top" data-content="{{ alan.errors|removetags:'ul li' }}" >
		  		    {% else %}
		  		      <input type="text" name="{{ alan.name }}" id="id_{{ alan.name }}" class="form-control input-lg" placeholder="User Name" tabindex="3">
		  		    {% endif %}

		  		  {% elif alan.name == "phone" %}
		  		    
		  		    {% if alan.errors %}
		  		      <input type="text" name="{{ alan.name }}" id="id_{{ alan.name }}" class="form-control input-lg" placeholder="Phone" tabindex="4" data-container="body" data-toggle="popover" data-placement="top" data-content="{{ alan.errors|removetags:'ul li' }}" >
		  		    {% else %}
		  		      <input type="text" name="{{ alan.name }}" id="id_{{ alan.name }}" class="form-control input-lg" placeholder="Phone" tabindex="4">
		  		    {% endif %}

		  		  {% elif alan.name == "password1" %}
		  		    
		  		    {% if alan.errors %}
		  		      <input type="password" name="{{ alan.name }}" id="id_{{ alan.name }}" class="form-control input-lg" placeholder="Password" tabindex="6" onclick="true" data-container="body" data-toggle="popover" data-placement="top" data-content="{{ alan.errors|removetags:'ul li' }}" >
		  		    {% else %}
		  		      <input type="password" name="{{ alan.name }}" id="id_{{ alan.name }}" class="form-control input-lg" placeholder="Password" tabindex="6">
		  		    {% endif %}

		  		  {% elif alan.name == "password2" %}
		  		    
		  		    {% if alan.errors %}
		  		      <input type="password" name="{{ alan.name }}" id="id_{{ alan.name }}" class="form-control input-lg" placeholder="Confirm Password" tabindex="7" data-container="body" data-toggle="popover" data-placement="top" data-content="{{ alan.errors|removetags:'ul li' }}" >
		  		    {% else %}
		  		      <input type="password" name="{{ alan.name }}" id="id_{{ alan.name }}" class="form-control input-lg" placeholder="Confirm Password" tabindex="7">
		  		    {% endif %}

		  		  {% endif %}

    	  		</div>
        	  </div>
        	  
        	  {% if alan.name == "last_name" or alan.name == "phone" or alan.name == "password2"%}
                </div>
              {% endif %}
            
            {% else %}	    
		     
		     <div class="form-group">
			   
			   {% if alan.errors %}
		  		  <input type="email" name="{{ alan.name }}" id="id_{{ alan.name }}" class="form-control input-lg" placeholder="Email Adress" tabindex="5" data-container="body" data-toggle="popover" data-placement="top" data-content="{{ alan.errors|removetags:'ul li' }}">
		  		{% else %}
		  		   <input type="email" name="{{ alan.name }}" id="id_{{ alan.name }}" class="form-control input-lg" placeholder="Email Adress" tabindex="5">
		  		{% endif %}

		     </div>

            {% endif %}
		  
		  {% endfor%}
        
		  <!--<div class="row">
			<div class="col-xs-4 col-sm-3 col-md-3">
			  <span class="button-checkbox">
				<button type="button" class="btn" data-color="info" tabindex="8">I Agree</button>
				<input type="checkbox" name="t_and_c" id="t_and_c" class="hidden" value="1">
			  </span>
			</div> 

			<div class="col-xs-8 col-sm-9 col-md-9">
			  By clicking <strong class="label label-primary">Register</strong>, you agree to the <a href="#" data-toggle="modal" data-target="#t_and_c_m">Terms and Conditions</a> set out by this site, including our Cookie Use.
			</div>
		  </div>-->
			
		  <hr class="colorgraph">
					
		  <div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-8">
			  <div class="col-xs-12  col-md-6 " >
			    <input type="submit" value="Register" class="btn btn-primary btn-block btn-lg" tabindex="9">
			  </div>
			</div>
		  </div>

		</form>

	  </div>
	</div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="t_and_c_m" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
	  <div class="modal-header">
	    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h4 class="modal-title" id="myModalLabel">Terms & Conditions</h4>
	  </div>

	  <!-- Site kurallarının verildiği bölüm --> 
	  <div class="modal-body">
	  </div>
	  
	  <div class="modal-footer">
		<button type="button" class="btn btn-primary" data-dismiss="modal">I Agree</button>
	  </div>
	</div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

{% endblock %}